body {
  background-color: #222336;
}

p {
  color: #e6e3fb;
  margin-bottom: 10px;
}

h1, h2, h3, h4, h5, h6 {
  color: #e6e3fb;
  margin-bottom: 20px;
}

.card {
  background-color: #444466;
}

.card-title {
  color: #e6e3fb;
}

.form-label {
  color: #e6e3fb;
  font-weight: bold;
}

#create-poll-form {
  background-color: #444466;
  padding: 16px;
  border-radius: 8px;
}

.list-group-item {
  background-color: #222336;
  color: #e6e3fb;
  font-weight: bold;
  border: 0px;
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.list-group-item .btn-primary.btn-sm {
  margin-left: auto;
  font-size: 16px;
}

.progress {
  width: 100%;
  height: 20px;
  background-color: #444466;
  border-radius: 5px;
  overflow: hidden;
  margin-top: 10px;
  margin-bottom: 10px;
}

.progress-bar {
  background-color: #e6e3fb;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #222336;
  font-weight: bold;
}

hr {
  border: 0;
  height: 2px;
  background: #e6e3fb;
  margin: 20px 0;
}

#title {
  font-size: 50px;
  margin-bottom: 100px;
}

button.btn-primary {
  background-color: #222336;
  font-size: 24px;
  color: #e6e3fb;
  border-color: #e6e3fb;
}

button.btn-primary:hover {
  background-color: #444466;
  color: #e6e3fb;
  border-color: #e6e3fb;
}
